@import 'tailwindcss';

/* custom css classes for design */ 
@theme { 
  --color-light: #F7F4EC;
  --color-dark: #1E1E1E;
  --color-gold: #C79A3E;

  --font-sans: 'Inter', -apple-system, sans-serif;
  --font-display: 'Space Grotesk', sans-serif; 
}